/* --- styles/style-base.css --- */

/* 1. Variables y Tema (Colores, Modo Oscuro) */
@import url('style-theme.css');

@import url('style-prefers-color-scheme-light.css');
@import url('style-prefers-color-scheme-dark.css');

@import url('style-forced-colors.css');
@import url('style-prefers-contrast.css');

/* Variables de medios (SVG Icons) */
@import url('style-media.css');

/* 2. Estructura Global (Layout General) */
@import url('style-layout.css');

/* 3. Componentes UI Básicos */
@import url('style-cards.css');
@import url('style-details.css');
@import url('style-header.css');
@import url('style-footer.css');
@import url('style-components.css');
@import url('style-a11y.css');

/* 4. Reglas Específicas por Dispositivo (Carruseles) */
@import url('style-desktop.css');
@import url('style-tablet.css');

/* 5. Reglas Móviles (Overrides finales) */
@import url('style-mobile.css');
@import url('style-safe-mode.css'); /* a11y safe mode */

/* --- Reduce Motion --- */
@import url('style-reduce-motion.css');
/* --- styles/style-base.css --- */